<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%- meta.title %></title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="/admin/plugins/fontawesome-free/css/all.min.css"
    />
    <!-- icheck bootstrap -->
    <link
      rel="stylesheet"
      href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- Theme style -->
    <link
      rel="stylesheet"
      href="/admin/dist/css/adminlte.min.css"
    />
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <img
            src="/admin/dist/img/logo-lottery.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="card-body">
          <p class="login-box-msg">Sign in to start your session</p>

          <form action="<%= meta.url+'/login' %>" id="loginForm" method="post">
            <div class="input-group mb-3">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control border"
                placeholder="Email"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control border"
                placeholder="Password"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">
                  Sign In
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>
          <!-- /.social-auth-links -->
        </div>
        <% if (errorMessage) { %>
        <div class="alert alert-danger"><%= errorMessage %></div>
        <script>
          var logo = document.querySelectorAll(".input-group-text");
          for (var i = 0; i < logo.length; i++) {
            logo[i].style.backgroundColor = "tomato";
          }
        </script>
        <% } %>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin/dist/js/adminlte.min.js"></script>

    <script>
      function DoLogin() {
        var email = $("#email").val();
        var password = $("#password").val();
        $.ajax({
          type: "POST",
          url: "<%= meta.url+'/login' %>",
          data: {
            email: email,
            password: password,
          },
          dataType: "text",
          success: function (resultData) {
            console.log(resultData);
            var logo = document.querySelectorAll(".input-group-text");
            for (var i = 0; i < logo.length; i++) {
              logo[i].style.backgroundColor = "#0bef0b9e";
            }
            window.location.href = "<%= meta.url+'/' %>";
          },
          error: function (err) {
            $("#err").val(err.responseText);
            var logo = document.querySelectorAll(".input-group-text");
            for (var i = 0; i < logo.length; i++) {
              logo[i].style.backgroundColor = "tomato";
            }
          },
        });
      }
    </script>
  </body>
</html>

