<%- include("../includes/A.ejs") %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Simple Tables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Simple Tables</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with minimal features & hover style</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Sl/No</th>
                    <th>Ticket Name</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Quantity Avl.</th>
                    <th>Details</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% let i=1; for (let data of tickets) { %>
                        <tr>
                          <td><%= i++ %></td>
                          <td><%= data.ticket_name%></td>
                          <td><%= data.ticket_price%></td>
                          <td><%= data.discount_percentage%></td>
                          <td><%= data.ticket_quantity%></td>
                          <td><a href="/admin/edit-ticket/<%= data._id%>"><iconify-icon icon="tabler:list-details" style="color: aqua;"></iconify-icon></a></td>
                        </tr>
                      <% } %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Sl/No</th>
                    <th>Ticket Name</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Quantity Avl.</th>
                    <th>Details</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include("../includes/B.ejs") %>
